.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.main {
  position: relative;
  width: 800px;
}

.copy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
  background-color: rgb(8, 8, 8);
  color: purple;
  outline: none;
  border: 1px solid #ccc;
  background: white;
  border-radius: 50%;
}

textarea {
  width: 800px;
}

pre[class*='language-'] {
  padding: 1em;
}
