.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.main {
  position: relative;
}

.copy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px 8px;
  background-color: rgb(8, 8, 8);
  color: white;
  outline: none;
  border: none;
}

pre[class*='language-'] {
  padding: 0;
}
